.paragraph-1 {
  color: red;
  text-align: center;
}
.Table-row-0{
  color: blue ;
  background-color: yellow ;
  font-size: 50px;

}
.Table-row-1{
  color: black;
  background-color: Pink ;
  font-size: 20px; 
}
.Table-row-2{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-3{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-4{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-5{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-6{
  color: black ;
  background-color:blue  ;
  font-size: 20px;
}
.Table-row-7{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-8{
  color:orange  ;
  background-color:gray ;
  font-size: 20px;
}
.Table-row-9{
  color:white;
  background-color:black  ;
  font-size: 20px;
}
.Table-row-10{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-11{
  color: yellow;
  background-color:red ;
  font-size: 20px;
}
.Table-row-12{
  color: red;
  background-color:yellow;
  font-size: 20px;
}
.Table-row-13{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-14{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-15{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-16{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-17{
  color: black ;
  background-color:blue  ;
  font-size: 20px;
}
.Table-row-18{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-19{
  color:orange  ;
  background-color:gray ;
  font-size: 20px;
}
.Table-row-20{
  color:white;
  background-color:black  ;
  font-size: 20px;
}
.Table-row-21{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-22{
  color: yellow;
  background-color:red ;
  font-size: 20px;
}
.Table-row-23{
  color: red;
  background-color:yellow;
  font-size: 20px;
}
.Table-row-24{
  color: blue ;
  background-color: yellow ;
  font-size: 20px;
}
.Table-row-25{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-26{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-27{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-28{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-29{
  color: black ;
  background-color:blue  ;
  font-size: 20px;
}
.Table-row-30{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-31{
  color:orange  ;
  background-color:gray ;
  font-size: 20px;
}
.Table-row-32{
  color:white;
  background-color:black  ;
  font-size: 20px;
}
.Table-row-33{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-34{
  color: yellow;
  background-color:red ;
  font-size: 20px;
}
.Table-row-35{
  color: red;
  background-color:yellow;
  font-size: 20px;
}
.Table-row-36{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-37{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-38{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-39{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-40{
  color: black ;
  background-color:blue  ;
  font-size: 20px;
}
.Table-row-41{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-42{
  color:orange  ;
  background-color:gray ;
  font-size: 20px;
}
.Table-row-43{
  color:white;
  background-color:black  ;
  font-size: 20px;
}
.Table-row-44{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-45{
  color: yellow;
  background-color:red ;
  font-size: 20px;
}
.Table-row-46{
  color: red;
  background-color:yellow;
  font-size: 20px;
}
.Table-row-47{
  color: blue ;
  background-color: yellow ;
  font-size: 20px;
}
.Table-row-48{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-49{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-50{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-51{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-52{
  color: black ;
  background-color:blue  ;
  font-size: 20px;
}
.Table-row-53{
  color: red;
  background-color:white ;
  font-size: 20px;
}
.Table-row-54{
  color:orange  ;
  background-color:gray ;
  font-size: 20px;
}
.Table-row-55-56{
  color:white;
  background-color:black  ;
  font-size: 20px;
}
.Table-row-57-58{
  color: yellow;
  color: yellow;
  background-color:red ;
  font-size: 20px;
}
.Table-row-59{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-60{
  color: black ;
  background-color:red ;
  font-size: 20px;
}
.Table-row-61{
  color: red;
  background-color:yellow ;
  font-size: 20px;
}
.Table-row-62{
  color: red;
  background-color:green ;
  font-size: 20px;
}
.Table-row-63
  color: black ;
  background-color: Blue   ;
  font-size: 20px;
}
